// Général

* {
    margin: 0;
    padding: 0;
    font-family: 'roboto', serif;
    font-weight: 400;
    font-size: 18px;
    box-sizing: border-box;
}

ol, ul {
    padding: 0;
}

//Variables
$dark-grey: #7E7E7E;
$grey: #EAEAEA;
$light-grey: #F6F6F6;
$purple: #9356dc;


//Mixin 

@mixin section-title {
    margin: 30px 0 20px 20px;
    font-size: 24px;
    font-weight: 700;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin linear-gradient-purple-start {
    background: linear-gradient(#ff79da,#9356dc);
}

@mixin linear-gradient-purple-end {
    background: linear-gradient(rgba(147, 86, 220, 1),rgba(255, 121, 218, 1));
}

@mixin linear-gradient-btn-start {
    @include linear-gradient-purple-start;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    padding: 15px;
    border-radius: 40px;
    margin: 20px 0;
}

@mixin linear-gradient-btn-end {
    @include linear-gradient-purple-end;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
    padding: 15px;
    border-radius: 40px;
    margin: 20px 0;
}

@mixin dish-title {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 8px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}

@mixin dish-title-underscore {
    content: '';
    position: absolute;
    bottom:0;
    left: 0; 
    width: 60%; 
    height: 3px;
    background-color: rgba(153, 226, 208, 1); 
}

@mixin choix-card {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 0 4.01px 15.04px rgba(0, 0, 0, 0.1);
    position: relative;
}

// Header

header {
    position: relative;
    z-index: 1;
}

.navbar {
    height: 33px;
    margin: 20px 0 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__backarrow {
        position: absolute;
        left: 10%;
    }

    & a {
        text-decoration: none;
        color: black;   
    }

    & img {
        width: 180px;
        }
    & i {
            font-size: 25px;
            color: rgba(53, 53, 53, 1);
        }    
}
.header-photo {
    height: 275px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

// Main

// Main - Intro
.fa-heart {
    color: transparent;
    -webkit-text-stroke: 1px #000;
    font-size: 25px;    
}

.menu {
    display: flex;
    flex-direction: column; 
    margin-top: -60px;
    position: relative;
    z-index: 2;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: $light-grey;

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 25px;
        margin-bottom: 50px;

        &__like {
            display: flex;
            align-self: center;
            cursor: pointer;
    
            & i {
                font-size: 25px;
            }
     
            & input[type="checkbox"] {
            display: none;
    
                &:checked + label .fa-heart {
                    font-weight: 900;
                    background: linear-gradient( rgba(255, 121, 218, 1), rgba(147, 86, 220, 1));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            & label:hover .fa-heart {
                font-weight: 900;
                background: linear-gradient( rgba(255, 121, 218, 1), rgba(147, 86, 220, 1));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    
    }
    &__txt {
        font-family: 'Shrikhand', serif;
        font-size: 28px;
    }

    

        // Main Menu - Entrées

    &__plate {
        padding: 10px;

        &__title {
            @include dish-title;
        
            &::after {
            @include dish-title-underscore;
            }    
        }

        &__choix {

        @include choix-card;

            &__container {
            display: flex;
            align-items: center;
            width: 100%;
            cursor: pointer;

                & input[type="checkbox"] {
                    display: none;
                 }

                &__content {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-grow: 1;
                    position: relative;
                    z-index: 1;

                    &__txt {
                        display: flex;
                        flex-direction: column;
    
                        &__nom {
                            font-size: 21px;
                            font-weight: 500;
                        }
    
                        &__description {
                            font-size: 15px;
                            font-weight: 300;
                            white-space: nowrap;
                            overflow: hidden;
                            width: 250px;
                            transition : text-overflow 0.3s ease;
                        }
                    }

                    &__prix {
                        display: flex;
                        align-self: flex-end;
                        text-align: right;
                        transition: transform 0.3s ease;
    
                        &--font {
                            font-size: 15px;
                            font-weight: 700;
                        }
                    }
                }

                &__check {
                    color: rgba(153, 226, 208, 1);
                    background-color: white;
                    border-radius: 50%;
                    opacity: 0;
                    z-index: 1;
                    display: none;

                    & .fa-check {
                        font-size: 15px;
                        padding: 5px;
                    }
                } 
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0;
                    height: 100%;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    background-color: rgba(153, 226, 208, 1);
                    transition: width 0.3s ease;
                    z-index: 0;
                  } 
                  &:hover::after {
                    width: 59px;
                  }
            }

            &:hover .menu__plate__choix__container__content__txt__description {
                text-overflow : ellipsis;
            }

            &:hover .menu__plate__choix__container__check {
                opacity: 1;
                display:initial;
            }

            &:hover::after {
                width: 59px;
            }

            &:hover .menu__plate__choix__container__content__prix {
                transform: translateX(-30px);
            } 

            & input[type="checkbox"]:checked + .menu__plate__choix__container::after {
                width: 59px;
            } 
            & input[type="checkbox"]:checked + .menu__plate__choix__container .menu__plate__choix__container__content__prix {
                transform: translateX(-30px);
                transition: transform 0.3s ease;
            }
            & input[type="checkbox"]:checked + .menu__plate__choix__container .menu__plate__choix__container__check {
                opacity: 1;
                display: initial;
            }          
        } 
    }
}

//Order button

.order {
    display: flex;
    justify-content: center;
    align-items: center;
    &__btn {
        @include linear-gradient-btn-start;
        display: flex;
        justify-content: space-around;
        width: 150px;
    }
    &__btn a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }
}
// Footer
.footer{
    background-color: rgba(53, 53, 53, 1);
    display: flex;
    flex-direction: column;
    padding: 20px;

    & img {
        filter: invert(1) grayscale(1) brightness(2);
        width: fit-content;
    }

    &__logo {
        width: 100px;
        height: 20px;
        margin-bottom: 20px;
    }

    &__links {
        display: flex;
        flex-direction: column;

        & a {
            text-decoration: none;
            color: white;
            font-size: 16px;
            padding: 5px 0;
        }

        & i {
            padding-right: 10px;
            font-size: 10px;
        }
    }
}


@media (min-width:768px) {

    .header-photo {
      height: 383px;
    }
  
    main {
      display: flex;
      justify-content: center;
      align-items: center;    
      }
    
    .menu {
      width: 80%; 
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .menu__title {
      display: flex;
      justify-content: center;
    }
    .fa-heart {
      margin-left: 10px;
    }
  
    .menu article {
      width: 50%;
    }
  
    .footer {
      height: 100px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 20px;
    }
    .footer__links {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }