// Général

* {
    margin: 0;
    font-family: 'roboto', serif;
    font-weight: 400;
    font-size: 18px;
}

//Variables
$dark-grey: #7E7E7E;
$grey: #EAEAEA;
$light-grey: #F6F6F6;
$purple: #9356dc;


//Mixin 

@mixin section-title {
    margin: 30px 0 20px 20px;
    font-size: 24px;
    font-weight: 700;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin linear-gradient-purple-start {
    background: linear-gradient(rgba(255, 121, 218, 1),rgba(147, 86, 220, 1));
}

@mixin linear-gradient-purple-end {
    background: linear-gradient(rgba(147, 86, 220, 1),rgba(255, 121, 218, 1));
}

@mixin linear-gradient-btn-start {
    @include linear-gradient-purple-start;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    padding: 15px;
    border-radius: 40px;
    margin: 20px 0;
    cursor: pointer;
}

@mixin linear-gradient-btn-end {
    @include linear-gradient-purple-end;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
    padding: 15px;
    border-radius: 40px;
    margin: 20px 0;
}

// Header

.navbar {
    @include flex-center;
    flex-direction: column;
    &__img {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 164px;
    height: 30px;
    }

    &__location {
        width: 100%;
        padding: 15px 0;
        display: flex;
        justify-content: center;
        background-color: $grey;
        box-shadow: inset 0 2px 8px 0 #979494, 0 4px 8px 0 #979494;

        & i{
            padding-right: 15px;
    }



    &__location p {
        font-size: 19px;
        color: #353535;
        font-weight: 500;
    }    

}    

}

// Main - Intro section

.intro {

    background-color: $light-grey;
    padding: 30px 0;
    @include flex-center;
    flex-direction: column;

    &__title {
        font-size: 24px;
        font-weight: 700;
        padding: 0 20px 10px 20px;
        width: 70%;
        text-align: center;
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 300;
        padding: 10px;
        text-align: center;
    }

    &__btn {
        @include linear-gradient-btn-start;

        &:hover {
            @include linear-gradient-btn-end;
        }

        & a {
            text-decoration: none;
            color: white;
            font-size: 16px;
            font-weight: 500;
            text-align: center;
        }
    }
}

/* Main - How to */

.howto {
    display: flex;
    flex-direction: column;

    &__title {
        @include section-title;
    }

    &__list {
        list-style: none;
        @include flex-center;
        flex-direction: column;
        counter-reset: item 0;

        &__option {
            width: 70%;
            padding: 25px;
            background-color: $light-grey;
            border-radius: 20px;
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
            margin-bottom: 20px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 16px;
            font-weight: 500;

            &::before {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
                content: counter(item)"";
                counter-increment: item;
                background-color: #9356dc;
                color: white;
                font-size: 14px;
                font-weight: 500;
                border-radius: 50%;
                margin-left: -22%;
            
            }
            
            & i {
                color: $dark-grey;
                font-size: 19px;
                margin-right: 20px;
            } 
            
            & i:hover {
                color: $purple;
            }
        } 
    }
}

// Main - Restaurants section

.restaurants {
    background-color: $light-grey;
    padding: 50px 0;

    &__title {
        @include section-title;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;

        & a {
            text-decoration: none;
        }

        &__card {
            border-radius: 15px;
            background-color: white;
            margin-bottom: 20px;

            &__imgblock {
                display: inline-block;
                height: 200px;
                width: 340px;
                position: relative;
                border-radius: 15px;

                & img {
                    display: block;
                    width: fit-content;
                    height: fit-content;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }
                
                &__label {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    padding: 5px 10px;
                    background-color: rgba(153, 226, 208, 1);
                    color: rgba(0, 135, 102, 1);
                    z-index: 0;
                    font-size: 14px;
                    font-weight: 500;
                    margin: 10px 10px 0 0;
                }
            }

            &__content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 10px;
                color: black;

                &__txt {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    &__title {
                        font-size: 18px;
                        font-weight: 700;
                        
                    }

                    &__subtitle {
                        font-size: 17px;
                        font-weight: 300;
                        
                    }
                }

                & i {
                    font-size: 23px;
                }
            }
            &__like {
                cursor: pointer;

                & i {
                    font-size: 25px;
                }
                & input[type="checkbox"] {
                    display: none;
                }
                & label:hover .fa-heart {
                    font-weight: 900;
                    background: linear-gradient( rgba(255, 121, 218, 1), rgba(147, 86, 220, 1));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                & input[type="checkbox"]:checked + label .fa-heart {
                    font-weight: 900;
                    background: linear-gradient( rgba(255, 121, 218, 1), rgba(147, 86, 220, 1));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

        }
    }
}

// Footer
.footer{
    background-color: rgba(53, 53, 53, 1);
    display: flex;
    flex-direction: column;
    padding: 20px;

    & img {
        filter: invert(1) grayscale(1) brightness(2);
        width: fit-content;
    }

    &__logo {
        width: 100px;
        height: 20px;
        margin-bottom: 20px;
    }

    &__links {
        display: flex;
        flex-direction: column;

        & a {
            text-decoration: none;
            color: white;
            font-size: 16px;
            padding: 5px 0;
        }

        & i {
            padding-right: 10px;
            font-size: 10px;
        }
    }
}

@media (min-width:1000px) {

    .howto, .restaurants {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        text-align:start;
    
    }

    .section__center {
        width: 80%;
    }
    .howto__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
    }

    .howto__list__option {
        min-width: 25%;
    }
   .restaurants__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 100px;
   }
   .restaurants__cards__card {
    width: 490px;
   }

   .restaurants__cards__card__imgblock {
    position: relative;
    width: 100%;
   }

   .footer {
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
   }
   .footer__links {
    display: flex;
    flex-direction: row;
    gap: 20px;
   }

}

